$color-main-dark: #FFB9B9;
$color-main-light: #FFE3ED;
$color-secondary-light: #A6F6F1;
$color-secondary-dark: #56ccc4;
$font-color: #363131;


$phone: "(max-width: 599px)";
$tab-p: "(min-width: 600px) and (max-width: 900px)";
$tab-l: "(min-width: 901px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px) and (max-width: 1800px)";
$big-desktop: "(min-width: 1700px)";